footer{
    color: nth($colores, 2);
    font-size: 1.3rem;
    padding: 30px;
    border-top: 1px solid black;
    ul{
        @include flex(flex, center);
        li{
            list-style: none;
            margin: 0px 10px;
            .bi{
                    font-size: 2rem;
                }
        }
    }
}