
/*----INDEX----*/
.image-nav{
    background-image: url("../img/imagen-principal.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    margin-bottom:50px;
}

.video-container{
    @include flex(flex, space-evenly);
    .video-article{
        margin: 0px 30px;
    }
}

/*----BIOGRAFIA----*/
.biography-container{
    padding: 20px 50px;
    font-size: 1.5rem;
    font-weight: 300px;
}

/*----CONTACTO----*/
.contact-container{
    margin: 50px;
}

/*----DISCOGRAFIA----*/
.discography-container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    justify-items: center;
    div{

        img{
            width: 400px;
            height: 400px;
        }
    }
}

/*----GALERIA----*/
.image-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    justify-items: center;
    img{
        width: 300px ;
        height: 300px;
        transition: 0.3s ease all;
        &hover{
            transform: scale(1.07);
        }
    }
}